<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="/scripts/home.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="patients-table-container">
            <h1>List of Patients</h1>
            <% patients.forEach(patient => { %>
                <div class="patient-row" id="<%= patient.uid %>" onclick="redirectToPatientPrescriptions('<%= patient.uid %>')">
                    <div><strong>Username:</strong> <%= patient.username %></div>
                    <div><strong>Last Name:</strong> <%= patient.last_name %></div>
                    <div><strong>First Name:</strong> <%= patient.first_name %></div>
                    <div><strong>Email:</strong> <%= patient.email %></div>
                    <div><strong>Phone Number:</strong> <%= patient.phone_number %></div>
                    <div><strong>Height:</strong> <%= patient.height %></div>
                    <div><strong>Weight:</strong> <%= patient.weight %></div>
                    <div><strong>UID:</strong> <%= patient.uid %></div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
